::-webkit-scrollbar {
    width: 10px;
  }

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  var(--primary-color-1);; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  var(--primary-color-1);; 
  }
  .pb_section{
    padding-bottom: 120px;
  }